/**                    # first atempt
#*                       # second atempt
#~/**/*                  # third atempt
~/Applications/
~/Cloud/
~/Desktop/
~/Documents/
~/Downloads/
~/Dropbox/
~/Music/
~/Pictures/
~/Projects/
~/Videos/

# whitelisted folders
!~/Config
!~/.config

# whitelisted files
!~/.gitignore
!~/README.org
!~/.zshrc
!~/.bashrc
