/**                    # first atempt
#*                       # second atempt
#~/**/*                  # third atempt

# whitelisted folders
!~/Config
!~/.config

# whitelisted files
!~/.gitignore
!~/README.org
!~/.zshrc
!~/.bashrc
